.logos{
    display: flex;
    justify-content: space-around;
}
.inst{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    border-radius: 60px;
    background: rgb(98,60,199);
background: linear-gradient(180deg, rgba(98,60,199,1) 0%, rgba(238,50,119,1) 60%, rgba(244,133,88,1) 100%);
}
.inst-border{
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    width: 180px;
    height: 180px;
    border: 30px solid white;
    border-radius: 60px;
}
.circle{
    display: flex;
    width: 65px;
    height: 65px;
    border: 30px solid white;
    border-radius: 100%;
}
.point{
    width: 0px;
    height: 0px;
    border: 20px solid white;
    border-radius: 100%;
    position: absolute;
    top: 75px;
    right: 1200px;
}
.flag{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 300px;
    border: 5px solid black;
}
.flag-point{
    width: 0px;
    height: 0px;
    border: 80px solid red;
    border-radius: 100%;
}
.pencil{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 500px;
    margin-top: 40px;
}
.pencil-top{
    width: 70px;
    height: 35px;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 40%, rgba(152,152,152,1) 84%);
    clip-path: polygon(50% 0%, 65% 100%, 35% 100%);
}
.pencil-mid{
    width: 105px;
    height: 80px;
    background: rgb(171,128,46);
    background: linear-gradient(90deg, rgba(171,128,46,1) 54%, rgba(233,175,64,1) 88%);
    clip-path: polygon(39.5% 0%, 60.5% 0%, 77% 100%, 23% 100%);
}
.pencil-bottom{
    width: 55px;
    display: flex;
    background: crimson;
    box-shadow: 0 -150px 70px -120px teal inset,
              0 -220px 70px -120px yellowgreen inset,
              0 -280px 70px -120px gold inset;
    animation: background 4s infinite alternate;
}
@keyframes background {
    50% {
        background: darkviolet;
        box-shadow: 0 -140px 70px -120px mediumorchid inset,
                    0 -210px 70px -120px teal inset,
                    0 -280px 70px -120px plum inset;
      }
}    
.right{
    width: 15px;
    height: 385px;
}
.mid{
    width: 25px;
    height: 385px;
}
.left{
    width: 15px;
    height: 385px;
}